#container {
    height: 100%;
    max-width: 625px;
    max-height: calc(100vh - 245px);
    margin: 75px auto 0;
}

#editor {
    height: 100%;
}

#save {
    border: 0;
    width: 200px;
    display: block;
    margin: 25px auto 0;
    background: #6dcc6d;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 10px;
}

#save:disabled {
    cursor: default;
    opacity: 0.5;
}
